.App {
  text-align: center;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}
.offset-top {
  margin-top: -36px;
}
.container.margin-top {
  margin-top: 6em;
}

.no-margin {
  margin: 0 !important;
}